<% @users.each do |user|%>
  <%= link_to ("/users/#{user.id}/posts") do %>
    <div class="card">
      <img src=<%=user.photo %> alt="photo" class="photo">
      <div class="card-info">
        <h3 class="info-name" ><%= user.name%> </h3>
        <h5 class="info-number-posts" >Number of posts: <%= user.post_counter %> </h5>
      </div>
    </div>
  <% end %>
<% end %>
