<div class="posts">
  <% @post_data.each do |data| %>
    <div class="bio">
      <h5 class="bio-title"> Post #<%= data[0].title%> </h5>
      <p class="bio-text"><%= data[0].text %></p>
    </div>
    <div class="post-comments">
      <% data[1].each do |comment| %>
        <div class="post-comment">
          <h6 class="post_comment-text"><%= comment[0] %> : <%= comment[1].text%></h6>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
